body{
    padding: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.home-title{
    margin-bottom: 100px;
}

.grid-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 50px;

}

.grid-card .card{
    height: 100%;
    margin: 0px;
    border: 1px solid #cecece;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    /* justify-self: stretch; */
}

.grid-card .card .card-content{
    padding: 15px;
}

.grid-card .card .card-title{
    font-size: inherit;
    font-weight: bold;
    color: black;
    font-size: 16px;
}


.grid-card .card .card-image{
    position: relative;
}

.grid-card .card .card-image img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.grid-card .card .card-content p{
    /* height: 4.5em; */
    /* text-overflow: ellipsis; */
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 60px;
}

.grid-card .card .card-time{
    color: white;
    text-shadow: 1px 1px #000000;
    font-size: 16px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}


.card-action{
    position: absolute;
    bottom: 15px;
}

.website-logo{
    left: 15px;
}

.website-logo img, .website-logo svg{
    height: 20px;
    width: auto;
} 

.article-link{
    right: 15px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

@media only screen and (min-width: 500px) {
    body{
        padding: 60px;
    }
}